# Rust related
RUST_LOG=info,sqlx::query=warn

#############################################################
#                       ENV                                 #
#           local, dev, signet, testnet4, mainnet           #
#############################################################
BITVM_BRIDGE_ENVIRONMENT=signet

#############################################################
#                   Operator configuration                  #
#############################################################
## Operator secret key, use for authorization
BITVM_BRIDGE_OPERATOR_AUTH_SK=tprv8jzau9CfsdkXakv9TnY6nSvFwjnwSsExXSmQ98MxB4HzCfMXAAZnwNa3QfgKip3JwrgkSHjS3zmJLa9cc6nfvz8os9qQk41TLFVSBsLdwxj
## Operator pegin secret key, use for pegin action
BITVM_BRIDGE_OPERATOR_PEGIN_SK=tprv8jzau9CfsdkXPkVBGi313RjQvsXggNwC4SZEBm3ohYAHQrHvBBG9GrPwMRWmzvB2UgkH7vEEjoMwia8kiY1jo6FzeshAfEw8d95ziJHYSTp
## Operator pegout secret key, use for pegout action
BITVM_BRIDGE_OPERATOR_PEGOUT_SK=tprv8jzau9CfsdkXXHyCfDbLqEmp68p8GJgH5bA7ZkUq4WCfdRpafY8SZc9jKMqUkYjNcM6Wcq1nep4Dx1Dyt66UBB6mBYe9HcqHxSQrB4yjvA4
## Operator evm secret key, used for stake FiaBTC
BITVM_BRIDGE_OPERATOR_ETH_SK=0x5de4111afa1a4b94908f83103eb1f1706367c2e68ca870fc3fb9a804cdab365a